@import 'scss/globals/all';

$button-letter-spacing: 0.5em;

button {
  @include reset-button;
}

.Button {
  background-color: $color-button-bg; // var(--button-bg);
  color: $color-button;
  padding: 10px 14px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.0;
  text-align: center;
  min-height: calc((14px * 1.0) + (8px * 2));
  text-transform: uppercase;
  letter-spacing: $button-letter-spacing;
  text-indent: $button-letter-spacing;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, transform 0.1s ease-out;

  &:hover {
    color: $color-button;
    background-color: lighten($color-button-bg, 10%);
  }

  &:active {
    transform: scale(1.05, 1.05);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  }

  &--alt {
    background-color: $color-button-bg--alt;
  }
}
