@import 'styles/globals/all';

.OffCanvasMenu {
  $this: &;

  position: fixed;
  padding: 20px;
  top: 0;
  right: -$menu-width;
  bottom: 0;
  width: $menu-width;
  max-width: 100%;
  background-color: $menu-bg;
  color: $menu-color;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  transition: transform $anim-speed--bounce $anim-easing--bounce;

  // Hack to for `bounce` animation overflow
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -50px;
    width: 50px;
    background-color: $menu-bg;
  }

  // States
  &.is-menuopen {
    &--enter {
      // transform: translateX(-100%);
      transform: translate3d(0, 0, 0);
    }

    &--exit {
      // transform: translateX(0);
      transform: translate3d(-100%, 0, 0);
    }

    &--exit#{&}--exit-active {
      // transform: translateX(0);
      transform: translate3d(-100%, 0, 0);
    }

    // Open
    &--exit#{&}--enter-active {
      transform: translate3d(0, 0, 0);
    }
  }
}
