@import 'styles/globals/all';

.Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; // y distribution
  align-items: center; // y alignment
  padding: $spacing--base;

  &__hamburger {
    position: fixed;
    top: $spacing--base;
    right: $spacing--base;
  }

  &__nav {
    // flex
  }

  &__logo {
    position: fixed;
    top: $spacing--base;
    left: $spacing--base;
  }
}
