@import 'styles/globals/all';
@import 'styles/base';

html {
  font: $font--weight #{$font--size}/#{$font--lineHeight} $font--family--sans;
  background-color: $color--bg;
  color: $color--text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h5 {
    line-height: 1.1;
    margin: 0.5em 0;
}

h1 {
    font-size: 7.5vmin;
    font-weight: 600;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

/* Links */
a {
  color: $color--link;
  transition: color 0.3s ease-out;
  text-decoration: none;

  &:hover {
    color: $color--linkHover;
  }
}
