@import 'scss/globals/all';
@import 'scss/base';

html {
    font: 300 18px/1.5 'Poppins', sans-serif;
    background: $color-bg;
    color: $color-text;
}

.wrapper {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 40px;
    background-color: $color-white;
    display: flex;
    /*
      ROW
    */
    /*flex-flow: row wrap;*/
    /*align-items: center;*/
    /*
      COLUMN
    */
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
}

.Header {
  /*
    ROW
  */
  /*align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;*/
  /*
    COLUMN
  */
  flex: 0 1 100%;
}

.Content {
  padding: 40px 0;
  position: relative;
  /*
    ROW
  */
  /*align-self: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;*/
  /*
    COLUMN
  */
  flex: 1 0 100%;

  &__transition {

    transition: opacity 500ms ease-in;

    // &.is-exit {
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    // }
    &.is-enter {
      opacity: 0;
    }

    &.is-enter.is-enter-active {
      opacity: 1;
    }

    &.is-exit {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.is-exit.is-exit-active {
      opacity: 0;
    }
  }
}

.Footer {
  /*
    ROW
  */
  /*align-self: flex-end;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;*/
  /*
    COLUMN
  */
  flex: 0 1 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h5 {
    line-height: 1.1;
    margin: 0.5em 0;
}

h1 {
    font-size: 7.5vmin;
    font-weight: 600;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

/* Links */
a {
  color: $color-link;
  transition: color 0.3s ease-out;
  text-decoration: none;

  &:hover {
    color: $color-link--hover;
  }
}
