@import 'scss/globals/all';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html,
body {
    min-height: 100%
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

pre {
  padding: 4px;
  border: 1px solid $color-border;
  border-radius: 2px;
}

img {
  max-width: 100%;
}
