.Nav {}

.Nav__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #CCC;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
}

.Nav__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav__item + .Nav__item {
  margin-left: 30px;
}

.Nav__link {
  text-decoration: none;
}

.Nav__link.is-active {
  text-decoration: underline;
}
