
// Colours
$color-black:           #000 !default;
$color-white:           #FFF !default;
$color-text:            #333 !default;
$color-text--light:     #666 !default;
$color-text--invert:    #FFF !default;
$color-bg:              #F5F5F5 !default;
$color-bg--invert:      #333 !default;
$color-border:          #CCC !default;
$color-link:            #088 !default;
$color-link--hover:     lighten($color-link, 15%) !default;
$color-button:          $color-white !default;
$color-button-bg:       $color-text !default;
$color-button--alt:     $color-white !default;
$color-button-bg--alt:  $color-link !default;

// Dimensions
$spacing--base: 20px !default;
$spacing--x:    20px !default;
$spacing--y:    20px !default;

// Menu
$menu-width: 500px !default;
$menu-color: #FFF !default;
$menu-bg:    #999 !default;

// Animations
$anim-speed--default: 300ms !default;
$anim-speed--bounce: 500ms !default;
$anim-easing--bounce: cubic-bezier(1.000, 0.000, 0.280, 1.245) !default;
